body,
html {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: #706563;
}
#__next {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
/* Standar Blocks */
.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-image: url("/public/theme/fondo-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  justify-content: space-between;
}
.header-left {
  display: flex;
  align-items: center;
  width: 29%;
  height: 50px;
  margin-left: 80px;
}
.header-left__logo img {
  width: 80px;
}
.header-left__text {
  color: white;
  font-size: 18px;
  margin-left: 20px;
}
.header-right {
  width: 70%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-navbar-desktop__ul {
  display: flex;
  flex-direction: row;
}
.header-navbar-mobile__ul-hide {
  display: none;
}
.header-navbar-mobile__ul {
  display: none;
}
.header-navbar__ul--li {
  list-style: none;
}
.header-menu__a--initial:hover {
  color: #2d2d2d;
  transition-duration: 0.8s;
}
.header-menu__img {
  display: none;
}
.header-navbar__ul--li:last-child {
  border: #da1c40 1px;
  border-right-style: solid;
  padding: 0 15px 0 15px;
  margin: 0 40px 0 15px;
  border-left-style: solid;
}
.header-navbar__ul--li:first-child {
  border: #da1c40 1px;
  border-right-style: solid;
  padding: 0 15px 0 15px;
  margin-right: 15px;
  border-left-style: solid;
}
.header-menu__a {
  color: #da1c40;
  text-decoration: none;
  font-size: 18px;
}
.header-menu__a--active {
  color: #2d2d2d;
  transition-duration: 0.5s;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 0 auto;
  justify-content: space-between;
}
.content {
  display: flex;
  flex: auto;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}
.footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
}
.footer-hide {
  display: none;
}
.footer-arrow {
  display: none;
}
.footer-arrow-right__img {
  height: 40px;
  margin-right: 70px;
}
.footer-arrow-left__img {
  height: 40px;
  margin-left: 70px;
}

@media (max-width: 992px) {
  .header {
    background-image: none;
    background-color: #da1c40;
  }
  .header-navbar-desktop__ul {
    display: none;
  }
  .header-menu__img {
    display: inline;
  }
  .header-navbar-mobile__ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f7f5f3;
    width: 100%;
    top: 50px;
    left: 0;
    padding: 5px 0;
    margin: 0;
  }
  .header-navbar-mobile__ul-hide {
    display: none;
  }
  .header-navbar__ul--li,
  .header-navbar__ul--li:first-child,
  .header-navbar__ul--li:last-child {
    border: none;
    padding: 0;
    margin: 0 auto;
  }
  .header-menu__img {
    margin: auto 30px;
    width: 30px;
    height: 29px;
    display: flex;
  }
  .header-navbar__ul--li {
    padding: 5px;
  }
  .header-menu__img:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
@media (max-width: 768px) {
  body {
    background-color: #da1c40;
    background-size: cover;
    width: 100%;
    flex: auto;
    display: flex;
  }
  #__next {
    display: none;
  }
}
